div.heading {
  display: inline-block;
}
h1 {
  font-family: 'Dancing Script', serif;
  font-size: 48px;
  color: #FC7000;
  text-align: center;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  }
img#card1 {
  width: 10%;
  height: auto;
  float: right;
  padding: 10px;
}
img#card2 {
  width: 10%;
  height: auto;
  float: left;
  padding: 10px;
}
button.accordion {
    font-size: 16px;
    background-color: #89D5E0;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
}
button.accordion.active, button.accordion:hover {
    background-color: #E9E6BD;
}
div.panel {
    padding: 0 18px;
    background-color: #C1DDCC;
    display: none;
    font-size: 14px;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #F78E22;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
footer {
  font-size: 10px;
  background-color: #C1DDCC;
  color: black;
}